@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* customized scroll bar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: o.5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}